<div class='wrapper'>
  <div class='title'>
    Admin panel</br>
    <form name='adminform' action="">
      <input type="submit" value="toggle statistics"><br>
      Number of players: <input type="number" id="playersnumber" min="1" max="5" value="{{numberOfPlayers}}">
    </form>
  </div>
  <div class='techwrapper'>
  </div>
  <div class='message'></div>
</div>
